<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../css/index.css">
    {% if title %}
    <title>{{  title }} | {{ config.title }}</title>
    {% else %}
    <title>{{ config.title }}</title>    
    {% endif %}
    <script>
      const isDarkMode = () => localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
      if (isDarkMode()) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
</head>
<body class="dark:text-white dark:bg-neutral-900 container mx-auto w-10/12 max-w-screen-md">
    {% block layout %}
    {% endblock %}
</body>
<script>
        if(!isDarkMode()) {
            document.getElementById("moon").classList.remove('hidden')
            document.getElementById("sun").classList.add('hidden')
        }
        document.getElementById("toggleDarkMode").addEventListener("click", function() {
            if (isDarkMode()) {
              localStorage.theme = 'light'
              document.getElementById("moon").classList.remove('hidden')
              document.getElementById("sun").classList.add('hidden')
              window.CUSDIS && window.CUSDIS.setTheme('light')
              document.documentElement.classList.remove('dark')
            } else {
              localStorage.theme = 'dark'
              document.getElementById("sun").classList.remove('hidden')
              document.getElementById("moon").classList.add('hidden')
              window.CUSDIS && window.CUSDIS.setTheme('dark')
              document.documentElement.classList.add('dark')
            }
        });
        document.addEventListener('DOMContentLoaded', () => {
          if (window.CUSDIS_LOCALE) window.CUSDIS_LOCALE.powered_by = " "
        });
        window.onload = () => {
            if (isDarkMode()) {
                window.CUSDIS && window.CUSDIS.setTheme('dark')
            }
        }
</script>
</html>