<div class="flex justify-center flex-col items-center">
    <p>
        {% image "https://assets.yepw.top/img/cat.webp", "一名普通的前端，在这里记录自己的技术思考，投资学习和生活。", "rounded-full" %}
    </p>
    <h2 class="text-xl font-bold py-4">Yep Wan</h2>
    <p class="mb-6">一名普通的前端er，在这里记录自己的技术思考，和一些日常。</p>
    <hr />
</div>